<%- include("header.ejs") %>

<div class="container-fluid">
    <h1 class="book-title"><%= book.title %></h1>
    <div class="row">
        <div class="image-container col-lg-5 col-12">
            <img style="width: 390px; height: 520px;" src="<%= book.coverurl %>" class="book-cover" alt="<%= book.title %>'s cover">
        </div>
        <div class="book-info col-lg-7 col-12">
            <p class="book-rating"><small><%= book.rating %>/10</small></p>
            <p class="personal-notes"><%= book.personal_notes %></p>
        </div>
    </div>
    <div class="edit-delete-forms">
        <form class="edit-button-form" action="/edit/<%= book.id %>" method="get">
            <button class="btn edit-button">Edit</button>
        </form>
        <form class="delete-button-form" action="/delete/<%= book.id %>" method="post">
            <button class="btn deletw-button">Delete</button>
        </form>
    </div>
</div>

<%- include("footer.ejs") %>