<%- include("header.ejs") %>
<form id="filterForm" action="/" method="GET">
  <select id="filter" name="sort" onchange="submitForm(event)">
      <option id="id-ASC" value="id ASC">Newest to older</option>
      <option id="id-DESC" value="id DESC">Older to newest</option>
      <option id="rating-DESC" value="rating DESC">Better rating</option>
      <option id="rating-ASC" value="rating ASC">Worst rating</option>
      <option id="title-ASC" value="title ASC">A-Z</option>
      <option id="title-DESC" value="title DESC">Z-A</option>
  </select>
</form>

<main>
    <% if(typeof books != 'undefined') {%>
        <% for(i = 0; i < books.length; i++) {%>
          <% let book = books[i] %>
          <div class="book-card card mb-3">
              <div class="row g-0">
                <div class="col-4">
                  <img src="<%= book.coverurl %>" class="card-img img-fluid rounded-start w-100" alt="<%= book.title %>">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= book.title %></h5>
                    <p class="card-text"><small>Rating: <%= book.rating %>/10</small></p>
                    <p class="card-text"><%= book.personal_notes.substring(0, 120) %>...</p>
                    <a class="btn btn-primary" href="/book/<%= books[i].id %>" role="button">Read review</a>
                  </div>
                </div>
              </div>
          </div>
        <% } %>
    <% } %>
</main>
<script>
  let selectedOptionId = localStorage.getItem('selectedOptionId');
  let selectedOption = document.getElementById(selectedOptionId);
  if (selectedOption) {
    console.log(selectedOption);
    selectedOption.setAttribute("selected", true);
  }

  function submitForm(event) {
    event.preventDefault();
    let sortSelect = document.getElementById("filter");
    let option = sortSelect.options[sortSelect.selectedIndex];

    option.setAttribute("selected", true);
    localStorage.setItem('selectedOptionId', option.id);
    console.log(option);
    document.getElementById("filterForm").submit();
}
</script>

<%- include("footer.ejs") %>
